// branding colors
$base_color: #141414;
$brand_color: #992022;
$brand_accent: #D6C288;

// notices
$notice_color: #3c763d;
$notice_border: #aba;
$notice_background: #dff0d8;

// generic colors
$white: white;
$off-white: #ddd;