/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "_config.css.scss";

body {
  background: $base_color url('/assets/backgrounds/woodgrain.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 960px;
  margin: auto;
}

#banner {
  background: $base_color;
  padding: 15px 0 15px 10px;

  img {
  }
}

#notice {
  color: $notice_color !important;
  border: 1px solid $notice_border;
  padding: 2em;
  margin-bottom: 2em;
  background-color: $notice_background;
}

#columns {
  background: $brand_color;

  #main {
    margin-left: 17em;
    padding: 1em;
    background: $white;
  }

  #side {
    float: left;
    padding: 1em 2em;
    width: 13em;

    form, div {
      display: inline
    }

    input {
      font-size: small;
    }

    #cart {
      font-size: smaller;
      color:     $white;

      table {
        margin-bottom: 10px;
        border-spacing: 0;

        tr {
          td {
            vertical-align: top;
          }
        }
      }
    }

    form, div {
      display: inline
    }

    input {
      font-size: small;
    }

    ul {
      padding: 0;

      li {
        list-style: none;

        a {
          color: $brand_accent;
          font-size: medium;
          text-decoration: none;

          &:hover {
            color: $brand_accent;
            background-color: transparent;
          text-decoration: underline;
          }
          &:visited {
            color: $brand_accent;
          }
        }
      }
    }
  }
}

.depot_form {
  fieldset {
    background: $off-white;
    legend {
      color: $off-white;
      background: $base_color;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }

  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }

    br {
      display: none;
    }
  }
}